.vscode/**
.vscode-test/**
src/**
dist/test/**
**/*.test.*
docs/**
examples/**
node_modules/**
**/*.ts
**/*.map
**/tsconfig.json
esbuild.js
eslint.config.mjs
.gitignore
.eslintignore
package-lock.json
**/.DS_Store
NOTES.md
